version: 1
disable_existing_loggers: False

formatters:
  default:
    format: "[Real Estate Analisis] %(levelname)s %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: default
    stream: ext://sys.stdout

loggers:
  uvicorn:
    level: INFO
    handlers: [console]
    propagate: no
  uvicorn.error:
    level: INFO
    handlers: [console]
    propagate: no
  uvicorn.access:
    level: INFO
    handlers: [console]
    propagate: no
  apscheduler:
    handlers: [console]
    level: INFO
    propagate: False

root:
  level: INFO
  handlers: [console]
